
<html>
<div class="contenedorsuperior">
    <h1>
        PCI PATZICIA CHIMALTENANGO
    </h1>
</div>

<iframe class="container"
  src="https://docs.google.com/spreadsheets/d/1JWyZnyJdtduqNsYMQt_Mt6ZGvN2v-dS-ef3a0kac0g4/edit?usp=sharing"
  title="operaciones chimaltenango">
  <p>Your browser does not support iframes.</p>
</iframe>


<div class="contenedorsuperior">
    <h1>
        LOGISTICA PCI CHIMALTENANGO
    </h1>
</div>

<iframe class="container"
  src="https://docs.google.com/spreadsheets/d/1JWyZnyJdtduqNsYMQt_Mt6ZGvN2v-dS-ef3a0kac0g4/edit?usp=sharing"
  title="operaciones chimaltenango">
  <p>Your browser does not support iframes.</p>
</iframe>


<div class="contenedorsuperior">
    <h1>
        OFICIOS Y REQUISICIONES
    </h1>
</div>



<iframe class="container"
  src="https://docs.google.com/document/d/1RRp5n67YeQzD7uw9F1lbAESm-CLt53Sf/edit?usp=sharing&ouid=117861457383170242587&rtpof=true&sd=true"
  title="operaciones chimaltenango">
  <p>Your browser does not support iframes.</p>
</iframe>

<!--<body class="fondo">
    <section class="apoyo">
      <pdf-viewer [src]="pdfSrc"
      [render-text]="true"
      [original-size]="false"
      style="width: 400px; height: 500px"
      [show-borders]="true"
      
    ></pdf-viewer>
    </section>
    </body> -->


<div class="contenedorletras">
    <h1 class="alinear">DEPARTAMENTO DE APOYO Y LOGISTICA</h1>
    <p class="alinear">La información confiable es crucial para el proceso de toma de decisiones estratégicas y operativas.
    por lo cual debera actualizar cualquier cambio en la base de datos de esta pagina la cual sera consultada
    y guardada mensualmente en la seccion de informatica</p>
    <h1 class="alinear">SECCION DE INFORMATICA</h1>
    </div>
  
</html>