<div class="card text-center cardContainer">
    <div class="card-header">
      CHAT
    </div>
    <div class="card-body">
      


    </div>
    <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Ingrese su mensaje" [(ngModel)]="nuevoMensaje" [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"><img src="https://icons-for-free.com/download-icon-send+icon-1320185654900887696_512.png" width="20px" alt=""></span>
            </div>
          </div>


        </form>
  </div>