<html>
<div class="contenedorsuperior">
    <h1>
         BASE DE DATOS DELEGACION AERODROMO PUERTO BARRIOS
    </h1>
</div>
<iframe class="container"
  src="https://docs.google.com/spreadsheets/d/15XwUgbWu8OdVOtc_eRWzWgEmm4q1hUpd/edit?usp=sharing&ouid=117861457383170242587&rtpof=true&sd=true"
  title="operaciones">
  <p>Your browser does not support iframes.</p>
</iframe>
<div class="contenedorsuperior">
    <h1>
        LOGISTICA DELEGACION AERODROMO PUERTO BARRIOS
    </h1>
</div>
<iframe class="container"
  src="https://docs.google.com/spreadsheets/d/1TkFTivP5sxj4_RDj71re6uEeWK6Q_CDS/edit?usp=sharing&ouid=117861457383170242587&rtpof=true&sd=true"
  title="Logistica">
  <p>Your browser does not support iframes.</p>
</iframe>
<div class="contenedorletras">
    <p class="alinear">DEPARTAMENTO DE APOYO Y LOGISTICA<p>
    <p class="alinear">La información confiable es crucial para el proceso de toma de decisiones estratégicas y operativas.
    por lo cual debera actualizar cualquier cambio en la base de datos de esta pagina la cual sera consultada
    y guardada mensualmente en la seccion de informatica</p>
    <p class="alinear">SECCION DE INFORMATICA</p>
    </div>
  
</html>