<html><div class="contenedorsuperior">
    <h1>
        RANKING DE HECHOS POSITIVOS
    </h1>
</div>

<iframe class="container"
  src="https://docs.google.com/spreadsheets/d/1T769V7PsOW4JtoEASX4gR80868AQshbnTlztu4FehRI/edit?usp=sharing"
  title="operaciones chimaltenango">
  <p>Your browser does not support iframes.</p>
</iframe>


<div class="contenedorletras">
    <h1 class="alinear">PNC</h1>
    <p class="alinear">La información confiable es crucial para el proceso de toma de decisiones estratégicas y operativas.
     por lo cual fue necesario la creacion de DIPAWEB para tener la informacion actualizada y en tiempo real., fue desarrollada en 
    el Departamento de Apoyo y Logistica en la Seccion de Informatica de esta division, estara sujeta a cambios continuos para 
mejor el intercambio de informacion</p>
    <h1 class="alinear">SECCION DE INFORMATICA</h1>
    </div>

</html>