<html>
<div class="contenedorsuperior">
    <h1>
         BASE DE DATOS DELEGACIONES
    </h1>
</div>



<div class="d-grid gap-2 col-6 mx-auto">

    <br>
    <div class="contenedoraeropuerto">
        
             BASE DE DATOS AEROPUERTOS
        
    </div>
        <button  class="caja" ngbDropdownItem routerLink="/homedelaeropuertolaaurora0001">DELEGACION AEROPUERTO LA AURORA</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelaeropuertoretalhuleu875">DELEGACION AEROPUERTO RETALHULEU</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelaeropuertlosaltos002">DELEGACION AEROPUERTO LOS ALTOS</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelegacionaerodromopuertobarrios8374762">DELEGACION AERODROMO PUERTO BARRIOS</button>
        <button  class="caja" ngbDropdownItem routerLink="/homeaerodromomundomayaretalh746593">DELEGACION AERODROMO DE PETEN</button>

        <div class="contenedordelegacion">
        
                 BASE DE DATOS DELEGACIONES
            
        </div>
        <button  class="caja2" ngbDropdownItem routerLink="/homedelafuascalienteschiqui02">DELEGACION AGUAS CALIENTES CHIQUIMULA</button>
        <button  class="caja2" ngbDropdownItem routerLink="/homedeltecunumansanmarcos0002">DELEGACION TECUN UMAN SM </button>
        <button  class="caja2" ngbDropdownItem routerLink="/homedelpedrodealvarado010101002">DELEGACION PEDRO DE ALVARADO JUTIAPA</button>
        <button  class="caja2" ngbDropdownItem routerLink="/homevallenuevo20244">DELEGACION VALLE NUEVO</button>
        <button  class="caja2" ngbDropdownItem routerLink="/homemundomayapeten20246">DELEGACION MUNDO MAYA PETEN</button>
        <button  class="caja2" ngbDropdownItem routerLink="/homedelcarmensanmarcos20204">DELEGACION EL CARMEN SM</button>
        <button  class="caja2" ngbDropdownItem routerLink="/homedelsantotomasdecastillaizaba203454">DELEGACION SANTO TOMAS DE CASTILLA</button>
        <button  class="caja2" ngbDropdownItem routerLink="/homedelegacionsancrisjutiapa846653">DELEGACION SAN CRISTOBAL JUTIAPA</button>
        <button  class="caja2" ngbDropdownItem routerLink="/homedelmencospeten74653r">DELEGACION MELCHOR MENCOS PETEN</button>

        <div class="contenedormar">
            
                 BASE DE DATOS DE PUERTOS
            
        </div>

        <button  class="caja3" ngbDropdownItem routerLink="/homedelpuertobarrios01">DELEGACION PUERTO BARRIOS</button>
        <button  class="caja3" ngbDropdownItem routerLink="/homedelegacionpuertoquetzalesc01">DELEGACION PUERTO QUETZAL</button>

      <!-- <button  class="caja" ngbDropdownItem routerLink="/homeaerodromopuertosanjose256743">AERODROMO PUERTO SAN JOSE</button> -->
      <div class="contenedorsuperior">
        
             BASE DE DATOS PUESTOS DE CONTROL INTERINSTITUCIONAL
    
    </div>

        <button  class="caja" ngbDropdownItem routerLink="/homedelegacionpajapitapci57764">PCI PAJAPITA</button>
        <button class="caja"  ngbDropdownItem routerLink="/homechimaltenango3434EWE">PCI CHIMALTENANGO</button>
        <button  class="caja" ngbDropdownItem routerLink="/homeprogreso84756GEEE">PCI PROGRESO</button>
        <button  class="caja" ngbDropdownItem routerLink="/homepcilivingston202121">PCI LIVINGTON IZABAL</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelegacionpcicorinto8474312">PCI CORINTO</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelpciescuinltla5484754414">PCI ESCUINTLA</button>
        <button  class="caja" ngbDropdownItem routerLink="/homepcivadohondo448226547">PCI VADO HONDO CHIQUIMULA</button>
        <button  class="caja" ngbDropdownItem routerLink="/homepcipasaco6468jdhf">PCI PASACO JUTIAPA</button>
        <button  class="caja" ngbDropdownItem routerLink="/homepcijerez482236fdsa">PCI JEREZ JUTIAPA</button>
  </div>
<br>

<div class="contenedorletras">
    <p class="alinear"><p>
    <p class="alinear"></p>
    <p class="alinear">SECCION DE INFORMATICA</p>
    </div>
  <br>
  <br>
</html>