<html>
<div class="contenedorsuperior">
    <h1>
         BASE DE DATOS DELEGACIONES
    </h1>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
        <button class="caja"  ngbDropdownItem routerLink="/homechimaltenango3434EWE">PCI CHIMALTENANGO</button>
        <button  class="caja" ngbDropdownItem routerLink="/homeprogreso84756GEEE">PCI PROGRESO</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelpuertobarrios01">DELEGACION PUERTO BARRIOS</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelaeropuertlosaltos002">DELEGACION AEROPUERTO LOS ALTOS</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelafuascalienteschiqui02">DELEGACION AGUAS CALIENTES CHIQUIMULA</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedeltecunumansanmarcos0002">DELEGACION TECUN UMAN SM </button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelaeropuertolaaurora0001">DELEGACION AEROPUERTO LA AURORA</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelpedrodealvarado010101002">DELEGACION PEDRO DE ALVARADO JUTIAPA</button>
        <button  class="caja" ngbDropdownItem routerLink="/homevallenuevo20244">DELEGACION VALLE NUEVO</button>
        <button  class="caja" ngbDropdownItem routerLink="/homepcilivingston202121">PCI LIVINGTON IZABAL</button>
        <button  class="caja" ngbDropdownItem routerLink="/homemundomayapeten20246">DELEGACION MUNDO MAYA PETEN</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelcarmensanmarcos20204">DELEGACION EL CARMEN SM</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelegacionpuertoquetzalesc01">DELEGACION PUERTO QUETZAL</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelsantotomasdecastillaizaba203454">DELEGACION SANTO TOMAS DE CASTILLA</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelaeropuertoretalhuleu875">AEROPUERTO RETALHULEU</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelmencospeten74653r">DELEGACION MELCHOR MENCOS PETEN</button>
        <button  class="caja" ngbDropdownItem routerLink="/homeaerodromopuertosanjose256743">AERODROMO PUERTO SAN JOSE</button>
        <button  class="caja" ngbDropdownItem routerLink="/homeaerodromomundomayaretalh746593">AERODROMO MUNDO MAYA RETAL</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelegacionpcicorinto8474312">PCI CORINTO</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelegacionsancrisjutiapa846653">DELEGACION SAN CRISTOBAL JUTIAPA</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelegacionaerodromopuertobarrios8374762">DELEGACION AERODROMO PUERTO BARRIOS</button>
        <button  class="caja" ngbDropdownItem routerLink="/homedelegacionpajapitapci57764">PCI PAJAPITA</button>
  </div>








<div class="contenedorletras">
    <p class="alinear">DEPARTAMENTO DE APOYO Y LOGISTICA<p>
    <p class="alinear">POLICIA NACIONAL CIVIL DIPAFRONT</p>
    <p class="alinear">SECCION DE INFORMATICA</p>
    </div>
  
</html>