<html>
  <body>
<div class="">
</div>
<div>
  <label></label>
</div>
<div class="container">
  <div class="card-body p-4">
    <div class="afiche2"></div>
    <label style="float: left;">Email</label>
    <input class="form-control m-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">

    <label style="float: left;">Password</label>
    <input class="form-control m-2" type="password" placeholder="ingrese su password" [(ngModel)]="usuario.password">

    <button class="img-logoinicios form-control m-2  btn-block m-2" style="font-family: blue; color: white;" (click)="Ingresar()">INGRESAR</button>
    <p></p>
    <label style="text-align: center;">Ingrese con el correo y la contraseña asignada</label>

    <p></p>
    <label style="text-align: center;">Contacto y soporte con la seccion de  informatica</label>
    <button  class="caja bi-align-center" ngbDropdownItem onclick="location.href='https://wa.me/50230232888'">.</button>
   <!-- <label>Aun no tienes cuenta? <a routerLink="/register">Registrarse</a></label> -->
  </div>
</div>
  </body>
</html>