<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>protocolos</title>
  </head>
  <body>

<div class="contenedorsuperior">
    <h1>
         PROTOCOLOS DE ACTUACION DIPAFRONT
    </h1>
</div>

<br>


<div class="d-grid gap-2 col-6 mx-auto">
  <div class="contenedorletras">
    ACUERDOS Y DECRETOS  
    </div>
    <a href="https://drive.google.com/drive/folders/1kKCaQNvuJ02CCcgJKJdYMk52HPLFa7d0?usp=sharing" target="_blank"> 
      <button class="caja ">BASE LEGAL</button>
      </a>

    <div class="contenedorletras">
    PROTOCOLOS    
    </div>
        <a href="https://drive.google.com/drive/folders/1zSYOixHH13ktDcOfpbI6xHzBlheIghPu?usp=sharing" target="_blank"> 
        <button class="caja ">PROTOCOLO DE  AEROPORTUARIA, PORTUARIA Y FRONTERIZA</button>
        </a>

        <a href="https://drive.google.com/drive/folders/1Hl8ZVTCnt1eU37Exlk6zLpwIJ5gZgVsh?usp=sharing" target="_blank"> 
          <button class="caja ">PROTOCOLOS INSTITUCIONAL E INTERINSTITUCIONAL</button>
        </a>

        <a href="https://drive.google.com/drive/folders/15chZUm1KIpxtL02X0_2V1dEx_d14sXS8?usp=sharing" target="_blank"> 
          <button class="caja ">PROTOCOLOS EN MATERIA DE MIGRANTES</button>
        </a>

        

        <div class="contenedorletras">
                 MANUALES
        </div>
        <a href="https://drive.google.com/drive/folders/1CrkPKgmC-Ugge2BgPC-Q6T5ntM3mosoA?usp=sharing" target="_blank"> 
          <button class="caja ">MANUALES Y FUNCIONES</button>
        </a>



        <div class="contenedorletras">
              CONVENIOS
            
        </div>

        <a href="https://drive.google.com/drive/folders/1aBIBexVQ352WZYEXFbNlhl-KXSZpCb6p?usp=sharing" target="_blank"> 
          <button class="caja ">CONVENIO Y PROTOCOLOS PCI</button>
        </a>

        <a href="https://drive.google.com/drive/folders/1nBliHGS-rMwD6x5BmqoJFMY3qapTEBvu?usp=sharing" target="_blank"> 
          <button class="caja ">CONVENIOS, PROCOLOS Y MANUALES DE PUERTOS</button>
        </a>

        <a href="https://drive.google.com/drive/folders/12o1q5Ce_kvfA3szASynLK079_R0RHAqC?usp=sharing" target="_blank"> 
          <button class="caja ">CONVENIO</button>
        </a>

        <div class="contenedorletras">
          COINCON
        
    </div>
   
    <a href="https://drive.google.com/drive/folders/12o1q5Ce_kvfA3szASynLK079_R0RHAqC?usp=sharing" target="_blank"> 
      <button class="caja ">PROTOCOLOS COINCON</button>
    </a>

      <!-- <button  class="caja" ngbDropdownItem routerLink="/homeaerodromopuertosanjose256743">AERODROMO PUERTO SAN JOSE</button> -->
      

  </div>

  <br>
  <br>
  <br>
  <br>
  <br>


  </body>
</html>
