<html>
<div class="contenedorsuperior">
    <h1>
         BASE DE DATOS PCI LIVINGSTON
    </h1>
</div>
<iframe class="container"
  src="https://docs.google.com/spreadsheets/d/17RIj9jJb186Qruo37bTLYfTWHS79VPX1/edit?usp=sharing&ouid=104937632817551307775&rtpof=true&sd=true"
  title="operaciones PCI LIVINGSTON">
  <p>Your browser does not support iframes.</p>
</iframe>
<div class="contenedorsuperior">
    <h1>
        LOGISTICA PCI LIVINGSTON
    </h1>
</div>
<iframe class="container"
  src="https://docs.google.com/spreadsheets/d/12YulYHNgoRT15svs3x4hi5fU1rPE8we_/edit?usp=sharing&ouid=104937632817551307775&rtpof=true&sd=true"
  title="Logistica PCI LIVINGSTON">
  <p>Your browser does not support iframes.</p>
</iframe>
<div class="contenedorletras">
    <p class="alinear">DEPARTAMENTO DE APOYO Y LOGISTICA<p>
    <p class="alinear">La información confiable es crucial para el proceso de toma de decisiones estratégicas y operativas.
    por lo cual debera actualizar cualquier cambio en la base de datos de esta pagina la cual sera consultada
    y guardada mensualmente en la seccion de informatica</p>
    <p class="alinear">SECCION DE INFORMATICA</p>
    </div>
  
</html>